@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.orderoak-main {
  padding-top: 35px;
}
.navbar-inverse
{
  background-color: #419641;
  border-color: #419641;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}
ul.nav a:hover {
  color: #eea236 !important;
}
.item-name {
  font-weight: bold;
}
.item-price {
  font-weight: bold;
  float: right;
  color: #419641;
}
a {
  color: #000;
}
a:hover {
  color: #419641;
  text-decoration: none;
}
.panel-heading {
  padding: 1px 5px 10px 5px;
}
.alert {
  margin-top: 40px;
  margin-bottom: 0px;
}
h1 {
  margin-top: 0px;
}
